name: Workflow file for java app deployment with sonar and trivy scan report..

on:
  workflow_dispatch:

jobs:

  job-checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

  job-sonarcheck:
    runs-on: ubuntu-latest
    needs: job-checkout
    steps:
        - name: Checkout
          uses: actions/checkout@v5
        - name: Java setup
          uses: actions/setup-java@v5
          with:
            distribution: 'temurin'
            java-version: '21'

        - name: Install Maven & Build
          run: |
            sudo apt update
            sudo apt install -y maven
            mvn clean package -DskipTests

        - name: Run SonarQube Analysis
          run: |
            mvn sonar:sonar \
            -Dsonar.projectKey=javaapp \
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}
  job-build:
    runs-on: ubuntu-latest
    needs:   job-sonarcheck
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Java setup
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Install Maven & Build
        run: |
          sudo apt update
          sudo apt install -y maven
          mvn clean package -DskipTests

      - name: Upload .war artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-war-file
          path: target/*.war

  job-Trivyscan:
    runs-on: ubuntu-latest
    needs:  job-build
    steps: 
      - name: Scan with trivy
        run: |
          sudo apt-get install wget gnupg
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | gpg --dearmor | sudo tee /usr/share/keyrings/trivy.gpg > /dev/null
          echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb generic main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy

      - name: Trivy scan
        run: |
          trivy fs . \
            --severity HIGH,CRITICAL \
            --exit-code 1 \
            --format table \
            --output trivy-report.txt


  job-deploy:
    runs-on: ubuntu-latest
    needs: job-build
    steps:

      - name: Checkout
        uses: actions/checkout@v5

      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: java-war-file
          path: ./deploy

      - name: Deploy to Tomcat (via Manager API)
        run: |
          WAR_FILE=$(ls ./deploy/*.war)

          echo "Uploading WAR file: $WAR_FILE"

          curl -u "${{ secrets.TOMCAT_USER }}:${{ secrets.TOMCAT_PASSWORD }}" \
            -T "$WAR_FILE" \
            "${{ secrets.TOMCAT_URL }}/manager/text/deploy?path=/drapp&update=true"
